MONGO_URL=mongodb+srv://artify:7ahYPdeRzglKCrMU@cluster0.l27hv9e.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
GOOGLE_CLIENT_ID=1084028559453-p57tgmc810bmmgtqdpql83pbc6augd0m.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
NEXTAUTH_SECRET=cbf7090fe6bfc85d642170a54b29b9ad
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51OEl98CX7hWCDmbjxSdoxoDbVVJ9HwQ1F5tL4Q5PZ4yMoMvIPwguI804ZVrMJ2w0JqQTyT4L33NOQgUVWyeP7cPi00onRC229G
STRIPE_SECRET_KEY=sk_test_51OEl98CX7hWCDmbjsoIvRKQiDaYyXk4dFSrxh3hr0YVJcbxQB6YB1nvK9u4pCINo7jIPSy1E0lWW3uoNlZawU3Qx001MVRPTNo
